// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.color-home{
  
  background-color: black;
  border-radius: 3px;
  border-color: red;
  height: 400px;
  
}

